body{
    background-color:  rgb(49, 30, 92); 
 }
 .descript{
    text-align: left;
    color: white;
    margin: 50px;
 }
 .descript li{
    list-style: circle;
 }

  a{
    text-decoration: none;
    color: black;
    text-align: right;
    font-size: 20px;
    margin-right: 40px;
    background-color: wheat;
    height: auto;
    width: auto;
    padding: 15px;
    border-radius: 10px;
}
.About-container h2{
    font-size:40px ;
    text-align: center;
    color: wheat;
}